<div class="footer">
    <div class="container">
        
        <div class="footer_main">
            
            <div class="footer">
                <div class=" footer_left">
                    <div class="footer_leftl">
                        <i class="glyphicon glyphicon-globe" aria-hidden="true"></i>
                    </div>
                    <div class="footer_leftr">
                        <h4>Location</h4>
                        <p>Minsk city</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer_left">
                    <div class="footer_leftl">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="footer_leftr">
                        <h4>Email</h4>
                        <a href="mailto: uladislav.stankevich@gmail.com">uladislav.stankevich@gmail.com</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer_left">
                    <div class="footer_leftl">
                        <i class="glyphicon glyphicon-phone" aria-hidden="true"></i>
                    </div>
                    <div class="footer_leftr">
                        <h4>Call Us</h4>
                        <a href="tel:+375256507322" target="_blank">+375 25 650 73 22</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="footer_pos">
        <p>© 2019 Fantasy World. All Rights Reserved</p>
    </div>
</div>