html,
body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	margin: 0;
}

p,
ul li,
ol li {
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Jura', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

ul,
label {
	margin: 0;
	padding: 0;
}

body a:hover {
	text-decoration: none;
}

.about,
.services,
.team-bottom,
.mail {
	padding: 5em 0;
}

// header
.layouts_header_left {
	float: left;
}

.layouts_header_left p {
	color: #999;
	line-height: 1.8em;
	float: left;
	margin: 5px 42px 0 0;
}

.layouts_header_left a {
	color: #999;
}

.layouts_header_right {
	float: right;
	position: relative;
	width: 23%;
}

.header {
	padding: 0.6em 3em;
	background: #1d1d1d;
}

.layouts_header_right input[type="search"] {
	width: 65%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	outline: none;
	border: none;
	background: #fff;
	color: #999;
	padding: 8px 15px 8px 15px;
	font-size: 13px;
	float: left;

}

.layouts_header_right input[type="submit"] {
	outline: none;
	border: none;
	background: #ff5000 url('/img/search.png') no-repeat 12px 5px;
	color: #fff;
	padding: 6px 0;
	width: 17%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

//nav 
.navbar-default {
	background: none;
	border: none;
}

.navbar {
	margin-bottom: 0;
}

.navigation {
	border-top: 1px solid #999;
	position: relative;
}

.navbar-nav {
	float: none;
	margin: 1em 0 1em 0;
}

.navbar-collapse {
	padding: 0;
}

.navbar-right {
	float: none !important;
	margin-right: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #fa3d03;
	background: none;
}

.navbar-default .navbar-nav>li>a {
	color: #212121;
}

.navbar-nav>li>a {
	margin: 1em 1.8em;
	padding: 0;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
}


.navbar-nav>li:nth-child(2) a {
	margin-right: 50em !important;
}

.navbar-nav>li:nth-child(4) a {
	margin-right: 0px !important;
}


.navigation_pos {
	position: absolute;
	top: 24%;
	left: 35%;
	z-index: 999;
}

.navigation_pos h1 a {
	font-size: 1em;
	color: #212121;
	text-decoration: none;
	border: 3px solid #ff5000;
	padding: 0.1em .4em;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Jura', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #fa3d03;
}

.navigation_pos h1 a i {
	font-size: .6em;
	color: #f83e03;
}

//slider

.owl-nav {
	display: none;
}

.owl-dot {
	outline: none;
}

.slideText {
	position: absolute;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 1px #000, 0 0 1em #000;
	width: 100%;
}

.slideText h4 {
	font-size: 3em;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 200;
}


.slideText p {
	font-size: 1em;
	text-transform: uppercase;
	color: #fa3d03;
	letter-spacing: 7px;
	margin: 2em 0;
}


//main

.services {
	background: url("/img/service.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 20px;
	margin-top: 20px;
}

#services h3 {
	text-align: center;
	color: #fff;
}

.services-agile,
.services-gd {
	margin: 0 auto;
	text-align: center;
}

.services-agile {
	margin-top: 2em;
}

.hi-icon,
.hi-icon:after {
	border-radius: 0px;
}

.hi-icon:before {
	font-family: inherit;
}

a.hi-icon img {
	margin: 17px 0 0;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 1em;
}

.services-gd h4 {
	color: #2098d1;
	margin-top: 20px;
	font-size: 1.5em;
	letter-spacing: 2px;
	margin-bottom: 8px;
}

.services-gd p {
	color: #fff;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 0 auto;
	width: 102px;
	height: 102px;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
	border-radius: 50%;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	font-size: 48px;
	line-height: 90px;
	display: block;
}

.hi-icon-effect-9 .hi-icon {
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	transition: transform 0.2s, opacity 0.2s;
	border-radius: 50%;
}

.hi-icon-effect-9a .hi-icon:hover:after {
	transform: scale(0.85);
	opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 6px #fff;
	color: #fff;
}

//about
.agileits_banner_bottom_grid_l h4 {
	text-transform: capitalize;
	font-size: 1.8em;
	color: #212121;
	line-height: 1.5em;
}

.agileits_banner_bottom_grid_l p {
	margin: 1em 0 0;
	line-height: 2em;
	color: #999;
}

.agileits_banner_bottom_grid_l p i {
	display: block;
	margin-bottom: 1em;
	color: #ff5000;
	letter-spacing: 4px;
	font-weight: 400;
}

.agileits_banner_bottom_grids {
	margin: 6em 0 0;
}

.agileits_banner_btm_grid_r {
	position: relative;
}

.agileits_banner_btm_grid_r_pos {
	position: absolute;
	top: -23%;
	right: -15%;
}

//footer
.footer {
	background: #000;
	padding: 6em 0 5em 0;
	
}

.footer form {
	width: 45%;
	margin: 3em auto 0;
}

.footer_grid {
	margin: 0 auto;
	text-align: center;
}

.footer_grids p.agileits_layouts_est {
	color: #fff;
	line-height: 2em;
	margin: 2em auto 5em;
	width: 65%;
	text-align: center;
}

.footer_grid_leftl {
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 50px;
	text-align: center;
	background: #fa3d03;
}

.footer_grid_leftl i {
	color: #fff;
	font-size: 1em;
	line-height: 3.4em;
}

.footer_grid_leftr {
	float: right;
	width: 80%;
	text-align: left;
}

.footer_grid_leftr h4 {
	font-size: 1.2em;
	color: #fff;
	letter-spacing: 3px;
	margin-bottom: .5em;
}

.footer_grid_leftr p {
	color: #999;
	line-height: 1.5em;
}

.footer_grid_leftr a {
	color: #999;
	text-decoration: none;
	font-size: 14px;
}

.footer_grid_leftr a:hover {
	color: #fa3d03;
}


.footer_pos {
	margin-top: 4em;
}

.footer_pos p {
	text-align: center;
	color: #fff;
	line-height: 1.8em;
}

.footer_pos p a {
	color: #fa3d03;
	text-decoration: underline;
}

.footer_pos p a:hover {
	color: #fff;
}

.footer_grid_left:hover .footer_grid_leftl {
	background: #fff;
}

.footer_grid_left:hover .footer_grid_leftl i {
	color: #212121;
}

.footer_grid_left:hover .footer_grid_leftr h4 {
	color: #fa3d43;
}

.footer_grid_left {
	background: #2e2e2e;
	float: left;
	width: 31%;
	margin: 0 10px;
	padding: 30px 20px;
	cursor: pointer;

}

.footer_grid_left:hover {
	animation: bounce 1s;
}

@keyframes bounce {

	0%,
	20%,
	60%,
	100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

//overview
.overview {
	margin: 5em 0;
}

.overview-item {
	border-radius: 10px;
	border: 2px solid #fa3d03;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	width: 100%;
}

.overview-item img {
	border-radius: 10px 0 0 10px;
	padding: 5px;
	width: 350px;
	height: 200px;

}

.overview h3 {
	font-weight: bolder;
	color: #000001;
	margin-top: 30px;
}

.overview-item p {
	font-size: 15px;
	color: #000001;
	width: 740px;
	padding: 15px;
}

.overview-item .btn-overview {
	position: absolute;
	right: 15px;
	bottom: 15px;
	background: #111;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	color: white;
}

.overview-item .btn-overview:hover {
	background: #fa3d03;
}


.modal-body {
	padding: 18px;
}

.modal-header {
	padding: 15px;
	border-bottom: 2px solid #fa3d03;
}

.modal-body iframe {
	width: 560px;
	height: 315px;
}

//contact
.contact {
	max-width: 100%;
	position: relative;
	margin: auto;
	height: 800px;
	margin-bottom: 15px;
}

.head {
	font-size: 2.5em;
	font-weight: bold;
	color: #212121;
	letter-spacing: 3px;
	text-align: center;
}

.head_para {
	color: #ff5000;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-align: center;
}



.mail_contact textarea {
	padding: 10px;
	font-size: 14px;
	border: none;
	border: 2px solid #b6b5b5;
	width: 100%;
	margin: 1.5em 0 1em 0.1em;
	min-height: 150px;
	resize: none;
	font-weight: 600;
	height: 200px;
}

.mail_contact .btn-contact {
	outline: none;
	color: #fff;
	letter-spacing: 5px;
	font-size: 1em;
	border: none;
	text-transform: uppercase;
	width: 100%;
	font-weight: 600;
	background: #111;
	padding: 0.9em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.btn-contact_disabled {
	cursor: default;
	outline: none;
	color: #fff;
	letter-spacing: 5px;
	font-size: 1em;
	border: none;
	text-transform: uppercase;
	width: 100%;
	font-weight: 600;
	background: rgb(68, 68, 68);
	padding: 0.9em;
	margin-top: 1em;
	margin-bottom: 2em;
}

.mail_contact .btn-contact:hover {
	background: #fa3d03;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;

	width: calc(100% - 0em);
	vertical-align: top;
	padding: 1.3em 0;
}

.input__field {
	position: relative;
	display: block;
	float: left;
	padding: 0.8em;
	width: 100%;
	border: 2px solid #b6b5b5;
	border-radius: 0;
}
.help-block {
	text-align: center;
	background: rgb(252, 104, 104);
	color: red;
	margin: 0;
}
.errorMsg {
	border-color: red;
}

.messeg {

	position: relative;
	margin-top: 10px;
	height: auto;
	// width: 540px;
	text-align: center;
	background: rgb(132, 219, 132);
	border: 2px solid rgb(66, 168, 66);
	border-radius: 10px;
	animation-duration: 2s;
	animation-name: slidein;
	animation-iteration-count: 3;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.messeg-none {
	visibility: hidden;
}

.messeg p {
	font-weight: bold;
	font-size: 14px;
	animation-duration: 3s;
}

//gallery

.gallery li {
	display: inline-block;
	float: left;
	width: 32.33%;
	padding: 1%;
}

.box {
	position: relative;
	overflow: hidden;
}

.box img {
	position: absolute;
	left: 0;
	transition: all 300ms ease-out;

}

.box .overbox {
	background-color: hsla(0, 0%, 11%, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 100;
	transition: all 300ms ease-out;
	opacity: 0;
	width: 100%;
	padding: 7em 2em 2em;
}

.box,
.box .overbox {
	height: 230px;
}

.box:hover .overbox {
	opacity: 1;
}

.box .overtext {
	transition: all 300ms ease-out;
	transform: translateY(40px);
}

.box .title {
	font-size: 1.6em;
	text-transform: uppercase;
	opacity: 0;
	transition-delay: 0.1s;
	transition-duration: 0.2s;
	background: rgba(236, 81, 9, 0.72);
	text-align: center;
	padding: 10px;
}

.box:hover .title,
.box:focus .title {
	opacity: 1;
	transform: translateY(0px);
}

.box .tagline {
	font-size: 13px;
	line-height: 1.8em;
	opacity: 0;
	transition-delay: 0.2s;
	transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
	opacity: 1;
	transform: translateX(0px);
	-webkit-transform: translateX(0px);
}

ul#lightGallery {
	margin-top: 2em;
}






//scrollUp
#upbutton {
	background: url("/img/arrow.png") no-repeat top left;
	height: 40px;
	width: 40px;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display: block;
	position: fixed;
	z-index: 999;
}


@media (max-width:1440px) {
	.slideText {
		position: absolute;
		top: 35%;
	}
}

@media (max-width:1366px) {
	.slideText h4 {
		font-size: 2.8em;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 50em !important;
	}
}

@media (max-width:1280px) {
	.slideText h4 {
		font-size: 2.5em;
	}

	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: -9%;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 50em !important;
	}
}

@media (max-width:1199px) {
	.navbar-nav>li:nth-child(2) a {
		margin-right: 36em !important;
	}

	.overview-item p {
		width: 580px;
	}
}

@media (max-width:1080px) {
	.navigation_pos {
		left: 41%;
	}

	.layouts_header_right {
		float: right;
		position: relative;
		width: 30%;
	}

	.slideText p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}

	.slideText h4 {
		font-size: 2.3em;
	}

	.slideText {
		position: absolute;
		top: 28%;
	}

	.navbar-nav>li>a {
		margin: 2em 1em;
		font-size: 0.9em;
	}

	.navigation_pos h1 a {
		font-size: 0.9em;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 48em !important;
	}

	.navigation_pos {
		left: 35%;
	}

	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.6em;
	}

	.footer_grid_leftl {
		float: left;
		width: 43px;
		height: 43px;
	}

	.footer_grid_leftl i {
		font-size: 1em;
		line-height: 2.7em;
	}

	.footer_grid_leftr h4 {
		font-size: 1.1em;
		letter-spacing: 2px;
	}

	.box .overbox {
		padding: 6em 1em 2em;
	}

	.box,
	.box .overbox {
		height: 189px;
	}

}

@media (max-width: 1024px) {
	.navigation_pos {
		left: 41%;
	}

	.layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}

	.slideText p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}

	.slideText h4 {
		font-size: 2.3em;
	}

	.slideText {
		position: absolute;
		top: 28%;
	}

	.navbar-nav>li>a {
		margin: 2em 1em;
		font-size: 0.9em;
	}

	.navigation_pos h1 a {
		font-size: 0.9em;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 48em !important;
	}

	.navigation_pos {
		left: 35%;
	}

}

@media (max-width: 991px) {
	.navigation_pos h1 a {
		font-size: 0.7em;
	}

	.services-gd.text-center {
		float: left;
		width: 25%;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 34em !important;
	}

	.navbar-nav>li>a {
		margin: 2em 0.5em;
	}

	.navigation_pos {
		top: 28%;
		left: 38.5%;
	}

	.navbar-nav>li>a {
		padding: 0;
		line-height: 0.8em;
	}

	.navigation_pos {
		top: 28%;
		left: 33.5%;
	}

	.layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}

	.agileits_banner_bottom_grids {
		margin: 1em 0 0;
	}

	.agileits_banner_bottom_grid_r {
		margin-top: 6em;
	}

	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: 0%;
	}

	.head {
		font-size: 2.3em;
	}

	.footer_grid_left {
		float: left;
		width: 100%;
		margin: 0 0px;
		padding: 20px 30px;
		margin-bottom: 10px;
	}

	.footer_grid_leftr {
		float: right;
		width: 75%;
		text-align: left;
	}

	.footer {
		padding: 4em 0 3em 0;
	}

	.about,
	.services,
	.team-bottom,
	.mail {
		padding: 3em 0;
	}

	.footer_pos {
		margin-top: 2em;
	}

	.box .title {
		font-size: 1.2em;
	}

	.box,
	.box .overbox {
		height: 146px;
	}

	.box .overbox {
		padding: 4em 1em 2em;
	}

	.overview-item p {
		font-size: 11px;
		width: 365px;
	}
	.help-block{
		font-size: 11px;
	}
}

@media (max-width: 800px) {
	.navigation_pos {
		left: 38.5%;
	}

	.layouts_header_left p {
		float: left;
		margin: 5px 19px 0 0;
		font-size: 13px;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: 34em !important;
	}

	.navigation_pos h1 a {
		font-size: .75em;
	}

	.navigation_pos {
		left: 34%;
	}

	.navbar-nav {
		float: none;
		margin: 0em 0 0em 0;
	}

	.navigation_pos {
		top: 12%;
		left: 33.5%;
	}

	.layouts_header_left p {
		float: left;
		margin: 5px 19px 0 0;
		font-size: 13px;
	}

	.header {
		padding: 0.6em 1em;
	}

	.slideText h4 {
		font-size: 1.8em;
	}

	.slideText a {
		font-size: 0.9em;
		padding: 0.6em 1.5em;
	}

	.slideText p {
		font-size: 0.85em;
		letter-spacing: 5px;
		margin: 1em 0 1.5em 0;
	}

	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.3em;
	}

	.layouts_header_right {
		float: right;
		position: relative;
		width: 40%;
	}

	.overview h3 {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.navigation_pos h1 a {
		font-size: .75em;
	}

	.navigation_pos {
		left: 34%;
	}

	.head {
		font-size: 2em;
	}


	.head_para {
		letter-spacing: 5px;
	}

	.agile_mail_grid textarea {
		outline: none;
		min-height: 191px;
		margin: 2em 0 0;
	}

	.overview-item img {
		width: 280px;
		height: 170px;

	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}

	.navbar-toggle {
		margin: 1em 0;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}

	.navbar-nav {
		float: none;
		margin: 0;
		text-align: center;
		background: #dfdfdf;
	}

	.navbar-nav>li>a {
		margin: 2em 0;
	}

	.navbar-nav>li:nth-child(2) a {
		margin-right: auto !important;
	}

	.navigation_pos {
		left: 0;
	}

	.navigation_pos {
		position: inherit;
		float: left;
		margin-top: .9em;
	}
	.modal-body iframe {
		width: 100%;
		height: 316px;
	}
}

@media (max-width: 736px) {
	.header {
		padding: 0.6em 1em;
	}

	.layouts_header_right {
		float: right;
		position: relative;
		width: 37%;
	}

	.about,
	.services,
	.team-bottom,
	.mail {
		padding: 2em 0;
	}

	.box .overbox {
		padding: 3em 1em 2em;
	}

	.box,
	.box .overbox {
		height: 139px;
	}

	.overview-item img {
		width: 230px;
		height: 130px;
	}

	.overview-item p {
		font-size: 9px;
	}

	.overview-item .btn-overview {
		font-size: 12px;
	}
}

@media (max-width: 667px) {
	.layouts_header_right ul li:last-child {
		margin-left: 1em;
	}

	.layouts_header_left {
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	.layouts_header_left p {
		float: none;
		margin: 0 auto;
		text-align: center;

	}

	.layouts_header_right {
		float: none;
		position: relative;
		width: 56%;
		margin: 4px auto 0;
	}

	.layouts_header_right input[type="search"] {
		width: 83%;
	}

	.box,
	.box .overbox {
		height: 125px;
	}

	.box .title {
		font-size: 1em;
	}

	.overview-item .btn-overview {
		font-size: 12px;
		right: 5px;
		bottom: 5px;
	}

}

@media (max-width: 640px) {
	.services-gd.text-center {
		float: left;
		width: 50%;
	}

	.head {
		font-size: 1.8em;
	}

	.head_para {
		letter-spacing: 5px;
		font-size: 12px !important;
	}

	.box,
	.box .overbox {
		height: 114px;
	}

	.overview-item .btn-overview {
		font-size: 9px;
	}

	.overview-item img {
		width: 220px;
		height: 150px;
	}

	.overview-item p {
		width: 340px;
	}
	.help-block{
		font-size: 11px;
	}
}

@media (max-width: 600px) {
	.slideText h4 {
		font-size: 1.5em;
	}

	.slideText p {
		font-size: 0.8em;
		letter-spacing: 3px;
		margin: 1em 0 1.5em 0;
	}

	.slideText {
		position: absolute;
		top: 21%;
	}



	.overview-item img {
		width: 250px;
		height: 180px;
	}

	.overview-item p {
		width: 270px;
	}
}

@media (max-width: 568px) {
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.4em;
	}

	.gallery li {
		display: inline-block;
		float: left;
		width: 50%;
		padding: 1%;
	}

	.footer {
		padding: 2em 0 2em 0;
	}

	.footer_pos {
		margin-top: 1em;
	}

	.box,
	.box .overbox {
		height: 166px;
	}

	.box .overbox {
		padding: 5em 1em 2em;
	}

	.overview-item {
		display: flex;
		flex-wrap: wrap;
	}

	.overview-item .btn-overview {
		position: absolute;
		border-radius: 5px;
		font-size: 12px;
		right: 10px;
		bottom: 10px;
	}

	.overview-item img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}

	.overview-item p {
		font-size: 11px;
		width: auto;
	}

	.overview-item .btn-overview {
		position: static;
		width: 100%;
		border-radius: 0 0 8px 8px;
	}
	.modal-body iframe {
	
		height: 250px;
	}
}

@media (max-width: 480px) {

	p,
	ul li,
	ol li {
		margin: 0;
		font-size: 13px;
	}

	.layouts_header_right {
		float: none;
		position: relative;
		width: 80%;
		margin: 4px auto 0;
	}



	.slideText h4 {
		font-size: 1.4em;
		letter-spacing: 4px;
	}

	.agile_mail_grid textarea {
		outline: none;
		min-height: 119px;
		margin: 2em 0 0;
	}

	.agile_mail_grid {
		padding: 0 0px;
	}

	.box .overbox {
		padding: 4em 1em 2em;
	}

	.box,
	.box .overbox {
		height: 138px;
	}

	.overview-item p {
		font-size: 9px;
	}
	.help-block{
		font-size: 12px;
	}
}

@media (max-width: 414px) {

	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -37%;
		right: 0%;
	}

	.agileits_banner_bottom_grid_l {
		padding: 0 5px;
	}

	.agileits_about_left {
		padding: 0 5px;
	}

	.slideText h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}

	.slideText h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}

	.slideText a {
		font-size: 0.9em;
		padding: 0.4em 1.5em 0.7em 1.5em;
	}

	.navigation_pos {
		position: inherit;
		float: left;
		margin-top: .7em;
	}

	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.2em;
	}

	.head {
		font-size: 1.5em;
	}

	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}

	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		right: -3%;
	}

	.box,
	.box .overbox {
		height: 112px;
	}

	.box .overbox {
		padding: 3em 1em 2em;
	}

	ul#lightGallery {
		margin-top: 1em;
	}
}

@media (max-width: 384px) {
	.slideText h4 {
		font-size: 1em;
		letter-spacing: 2px;
	}

	.slideText p {
		font-size: 0.7em;
		letter-spacing: 1px;
		margin: 0.5em 0 1em 0;
	}

	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}

	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		right: -3%;
	}



	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.2em;
	}

	.box .overbox {
		padding: 3em 1em 2em;
	}

	.box,
	.box .overbox {
		height: 103px;
	}
}

@media (max-width: 375px) {
	.layouts_header_right {
		float: none;
		position: relative;
		width: 95%;
		margin: 4px auto 0;
	}

	.navigation_pos h1 a {
		font-size: .65em;
	}

	.overview-item .btn-overview {
		position: static;
		width: 100%;
		border-radius: 0 0 8px 8px;
	}
	.modal-body iframe {
	
		height: 200px;
	}
}

@media (max-width: 320px) {
	.navigation_pos h1 a {
		font-size: .65em;
	}

	.mail_contact {
		margin-top: 2em;
	}

	.slideText h4 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}

	.layouts_header_right {
		float: none;
		position: relative;
		width: 100%;
		margin: 4px auto 0;
	}

	#mail {
		padding: 0em 0 2em 0;
	}

	.gallery li {
		display: inline-block;
		float: left;
		width: 100%;
		padding: 1%;
	}

	.box,
	.box .overbox {
		height: 120px;
	}
	.help-block{
		font-size: 11px;
	}
}