@media (max-width:1440px){
	.slider-info {
		position: absolute;
		top: 35%;
	}
}
@media (max-width:1366px){
	.slider-info h4 {
		font-size: 2.8em;
	}
	.projects-grid-caption {
		padding: 8em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -146%;
	}
	.projects-grid-caption h4 {
		font-size: 1.4em;
		margin: 7.2em 0 0.5em 0;
	}
}
@media (max-width:1280px){
	.slider-info h4 {
		font-size: 2.5em;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: -9%;
	}
	.projects-grid-caption {
		padding: 14em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -156%;
	}
}
@media (max-width:1080px){
	.navigation_pos {
		left:41%;
	}
	.agileits_about_right {
		padding-left: 4em;
	}
	.layouts_header_right {
		float: right;
		position: relative;
		width: 30%;
	}
	.slider-info p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}
	.slider-info h4 {
		font-size: 2.3em;
	}
	.slider-info {
		position: absolute;
		top: 28%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.navbar-nav > li > a {
		margin: 2em 1em;
		font-size: 0.9em;
	}
	.navigation_pos h1 a {
       font-size: 0.9em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 37.1em !important;
	}
	.navigation_pos {
		left: 35%;
	}
	.agileits_banner_bottom_grid_l h4 {
       font-size: 1.6em;
	}
	.projects-grid-caption h4 {
		font-size: 1em;
		margin: 7.2em 0 0.5em 0;
	}
	.projects-grid-caption {
		padding: 19em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -179%;
	}
	.projects-grid-caption p {
		font-size: 0.85em;
		margin: 0;
		letter-spacing: 10px;
	}
	.footer_grid_leftl {
		float: left;
		width: 43px;
		height: 43px;
	}
	.footer_grid_leftl i {
		font-size: 1em;
		line-height: 2.7em;
	}
	.footer_grid_leftr h4 {
		font-size: 1.1em;
		letter-spacing: 2px;
	}
	.box .overbox {
		padding: 6em 1em 2em;
	}
	.box, .box .overbox {
		height: 189px;
	}
}
@media (max-width: 1024px){
	.navigation_pos {
		left:41%;
	}
	.agileits_about_right {
		padding-left: 4em;
	}
	.layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}
	.slider-info p {
		font-size: 0.9em;
		letter-spacing: 6px;
		margin: 2em 0;
	}
	.slider-info h4 {
		font-size: 2.3em;
	}
	.slider-info {
		position: absolute;
		top: 28%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.navbar-nav > li > a {
		margin: 2em 1em;
		font-size: 0.9em;
	}
		.navigation_pos h1 a {
       font-size: 0.9em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 37.1em !important;
	}
	.navigation_pos {
		left: 35%;
	}
	.projects-grid-caption {
		padding: 19em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -190%;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 8.2em 0 0.5em 0;
	}
}	
@media (max-width: 991px){
	.navigation_pos h1 a {
		font-size: 0.7em;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 26em !important;
	}
	.navbar-nav > li > a {
	   margin: 2em 0.5em;
	}
	.navigation_pos {
		top: 28%;
		left: 38.5%;
	}
	.navbar-nav > li > a {
		padding: 0;
		line-height: 0.8em;
	}
	.navigation_pos {
		top: 28%;
		left: 33.5%;
	}
	.layouts_header_right {
		float: right;
		position: relative;
		width: 36%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 45%;
	}
	.agileits_banner_bottom_grids {
		margin: 1em 0 0;
	}
	.agileits_banner_bottom_grid_r {
		margin-top: 6em;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -23%;
		right: 0%;
	}
	.services-gd.text-center {
		float: left;
		width: 25%;
	}
	.head {
			font-size: 2.3em;
	}
	
	.box .title {
		font-size: 1.2em;
	}
	.box, .box .overbox {
		height: 146px;
	}
	.box .overbox {
		padding: 4em 1em 2em;
	}
	.projects-grid-caption {
		padding: 21em 1em 1em 1em;
		position: absolute;
		left: 0;
		bottom: -248%;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 9.2em 0 0.5em 0;
	}
	.projects-grid-caption p {
		font-size: 0.8em;
		margin: 0;
		letter-spacing: 7px;
	}
	.footer_grid_left {
		float: left;
		width: 100%;
		margin: 0 0px;
		padding: 20px 30px;
		margin-bottom: 10px;
	}
	.footer_grid_leftr {
		float: right;
		width: 75%;
		text-align: left;
	}
	.footer {
		padding: 4em 0 3em 0;
	}
	.about, .services, .team-bottom, .mail {
		padding: 3em 0;
	}
	.footer_pos {
		margin-top: 2em;
	}
	
}
@media (max-width: 800px){
	.navigation_pos {
		left:38.5%;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: 26em !important;
	}
	.navigation_pos h1 a {
		font-size: .75em;
	}
	.navigation_pos {
		left: 34%;
	}
	.navbar-nav {
		float: none;
		margin: 0em 0 0em 0;
	}
	.navigation_pos {
		top: 12%;
		left: 33.5%;
	}
	.layouts_header_left p {
		float: left;
		margin: 5px 19px 0 0;
		font-size: 13px;
	}
	.header {
		padding: 0.6em 1em;
	}
	.slider-info h4 {
		font-size: 1.8em;
	}
	.slider-info a {
		font-size: 0.9em;
		padding: 0.6em 1.5em;
	}
	.slider-info p {
		font-size: 0.85em;
		letter-spacing: 5px;
		margin: 1em 0 1.5em 0;
	}
	.projects-grid-caption h4 {
		font-size: 0.9em;
		margin: 9.2em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.projects-grid-caption p {
		font-size: 0.8em;
		margin: 0;
		letter-spacing: 3px;
	}
	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.3em;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 21%;
	}
	.layouts_header_right {
		float: right;
		position: relative;
		width: 40%;
	}
}
@media (max-width: 768px){
	.navigation_pos h1 a {
		font-size: .75em;
	}
	.navigation_pos {
		left: 34%;
	}
	.head {
		font-size: 2em;
	}
	.agileits_about_right {
		padding-left: 3em;
	}
	.agileinfo_about_bottom_right h2 {
		font-size: 1.7em;
	}
	.head_para {
      letter-spacing: 5px;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 1.2em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.agile_mail_grid textarea {
		outline: none;
		min-height: 191px;
		margin: 2em 0 0;
	}
	.map iframe {
    width: 100%;
    min-height: 250px;
    margin-top: 2em;
	}
	.projects {
		padding: 3em 0 0 0;
	}
}
@media (max-width: 767px){
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	.navbar-toggle {
		margin: 1em 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}

	.navbar-nav {
		float: none;
		margin: 0;
		text-align: center;
		background: #dfdfdf;
	}
	.navbar-nav > li > a {
		margin: 2em 0;
	}
	.navbar-nav > li:nth-child(3) a {
		margin-right: auto !important;
	}
	.navigation_pos {
		left: 0;
	}
	.navigation_pos {
		position: inherit;
		float: left;
		margin-top: .9em;
	}
}
@media (max-width: 736px){
	.header {
		padding: 0.6em 1em;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 139px;
	}
	
	.map iframe {
		min-height: 300px;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 139px;
	}
	.w3layouts_header_right {
		float: right;
		position: relative;
		width: 37%;
	}
	.about, .services, .team-bottom, .mail {
		padding: 2em 0;
	}
	.projects {
		padding: 2em 0 0 0;
	}
}
@media (max-width: 667px){
	.layouts_header_right ul li:last-child {
		margin-left: 1em;
	}

	.box, .box .overbox {
		height: 125px;
	}
	.box .title {
		font-size: 1em;
	}
	.layouts_header_left {
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	.layouts_header_left p{
		float: none;
		margin: 0 auto;
		text-align:center;
		
	}
	.layouts_header_right {
		float: none;
		position: relative;
		width: 56%;
	margin: 4px auto 0;
	}
	.layouts_header_right input[type="search"] {
      width: 83%;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 14%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
       left: 43%;
	}
}
@media (max-width: 640px){
	.box, .box .overbox {
		height: 114px;
	}
	.head {
		font-size: 1.8em;
	}
	.head_para {
		letter-spacing: 5px;
		font-size: 12px!important;
	}
	.services-gd.text-center {
		float: left;
		width: 50%;
	}
}
@media (max-width: 600px){
	.slider-info h4 {
		font-size: 1.5em;
	}
	.slider-info p {
		font-size: 0.8em;
		letter-spacing: 3px;
		margin: 1em 0 1.5em 0;
	}
	.slider-info {
		position: absolute;
		top: 21%;
	}
}
@media (max-width: 568px){
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.4em;
	}
	.gallery_grid li {
		display: inline-block;
		float: left;
		width: 50%;
		padding: 1%;
	}
	.box, .box .overbox {
		height: 166px;
	}
	.box .overbox {
		padding: 5em 1em 2em;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 5em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.footer {
		padding: 2em 0 2em 0;
	}
	.footer_pos {
		margin-top: 1em;
	}
}
@media (max-width: 480px){

	p, ul li, ol li {
    margin: 0;
    font-size: 13px;
	}
	.layouts_header_right {
		float: none;
		position: relative;
		width: 80%;
		margin: 4px auto 0;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 9%;
	}
	.slider-info h4 {
		font-size: 1.4em;
		letter-spacing: 4px;
	}
	.box .overbox {
		padding: 4em 1em 2em;
	}
	.box, .box .overbox {
		height: 138px;
	}
	.projects-grid-caption h4 {
		font-size: 1.1em;
		margin: 0em 0 0.5em 0;
		padding: 8px;
		letter-spacing: 2px;
	}
	.agile_mail_grid textarea {
		outline: none;
		min-height: 119px;
		margin: 2em 0 0;
	}
	.agile_mail_grid {
		padding: 0 0px;
	}
}
@media (max-width: 414px){
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -37%;
		right: 0%;
	}
	.agileits_banner_bottom_grid_l {
		padding: 0 5px;
	}
	.agileits_about_left {
		padding: 0 5px;
	}
	.slider-info h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}
	.slider-info h4 {
		font-size: 1.3em;
		letter-spacing: 3px;
	}
	.slider-info a {
		font-size: 0.9em;
		padding: 0.4em 1.5em 0.7em 1.5em;
	}
	.w3_navigation_pos {
		position: inherit;
		float: left;
		margin-top: .7em;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 40%;
		background-size: 72%;
	}
	.callbacks_nav.next {
		left: auto;
		background: transparent url(../images/right.png) no-repeat right top;
		left: 51%;
		background-size: 72%;
	}
	.callbacks_nav {
		position: absolute;
		bottom: 5%;
	}
	.box, .box .overbox {
		height: 112px;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	ul#lightGallery {
		margin-top: 1em;
	}
	
	.slider-img img {
		min-height: 175px;
	}
	.map iframe {
		min-height: 231px;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.2em;
	}
	.head {
		font-size: 1.5em;
	}
	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		    right: -3%;
	}
}
@media (max-width: 384px){
	.slider-info h4 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.slider-info p {
		font-size: 0.8em;
		letter-spacing: 1px;
		margin: 0.5em 0 1em 0;
	}
	.agileits_banner_btm_grid_r_pos img {
		width: 57%;
	}
	.agileits_banner_btm_grid_r_pos {
		position: absolute;
		top: -28%;
		   right: -3%;
	}
	.box .overbox {
		padding: 3em 1em 2em;
	}
	.box, .box .overbox {
		height: 103px;
	}
	.services-gd h4 {
		margin-top: 20px;
		font-size: 1.2em;
	}
}
@media (max-width: 375px){
	.layouts_header_right {
		float: none;
		position: relative;
		width: 95%;
		margin: 4px auto 0;
	}
}
@media (max-width: 320px){
	.navigation_pos h1 a {
		font-size: .65em;
	}
	.slider-info h4 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.slider-img img {
		min-height: 151px;
	}
	.gallery_grid li {
		display: inline-block;
		float: left;
		width: 100%;
		padding: 1%;
	}
	.box, .box .overbox {
		height: 120px;
	}
	.projects-grid-caption {
		padding: 24em 1em 1em 1em;
		position: absolute;
	}
	.layouts_header_right {
		float: none;
		position: relative;
		width: 100%;
		margin: 4px auto 0;
	}
	#mail {
    padding: 0em 0 2em 0;
}
}